body {
  background-color: #f5f5f5;
}
.container {
  background-color: #e9e9e9;
  width: 600px;
  margin: auto;
}
.header {
  padding: 20px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #006a6a;
  justify-content: space-around; /* ADD espaços entre as divs que fazem parte do container centralizando-as */
  padding: 20px;
}
